.body {
    -fx-background-color: #1a1a33;
}

.container {
    -fx-background-color: #0C0E1D;
    -fx-background-radius: 15 15 15 15;
}

.header {
    -fx-background-color: #2c2b53;
    -fx-text-align: center;
    -fx-background-radius: 15 15 15 15;
}

.title {
    -fx-text-fill: #FFF;
    -fx-font-family: "Segoe UI"
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.description {
    -fx-text-fill: #FFF;
    -fx-font-family: "Segoe UI"
    -fx-font-size: 12px;
    -fx-font-weight: normal;
}

.scroll-pane {
   -fx-background-color:transparent;
}

.scroll-pane .viewport {
   -fx-background-color:transparent;
}